@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.price {
  font-weight: 900;
}
.title {
  font-weight: bold;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: 1;
}
